.btn-border {
  height: 41.5px;
  padding: 0 24px;
  background-color: $primary-color;
  color: $dark-one;
  border: 2px solid $dark-one;
  cursor: pointer;
  transition: 0.1s ease;
  font-family: $roboto-slab;
  font-weight: 500;
  @include small-device {
    height: 36px;
  }
  &:hover {
    box-shadow: 3px 3px 0 0 $dark-one;
  }
}

.border-effect {
  border: 2px solid $dark-one;
  transition: 0.1s ease;
  &:hover {
    box-shadow: 3px 3px 0 0 $dark-one;
  }
  &--no-hover {
    box-shadow: 3px 3px 0 0 $dark-one;
  }
}

.input {
  height: 41.5px;
  padding-left: 10px;
  @include small-device {
    height: 36px;
  }
}
