$dark-one: #3e3e3e;
$dark-two: #5e5e5e;
$gray-one: #c4c4c4;
$gray-two: #ebebeb;
$gray-three: #f8f8f8;

$black: #000;
$white: #fff;
$red: rgb(255, 34, 34);
$primary-color: #10f193;
$primary-color-light: #41ffb0;
